.cls-tx-row {
    width: 100%;
    display: flex;
    margin-bottom: 4px;

    .cls-key {
        width: 30%;
        display: flex;
        float: left;
        input {
            width: 100%;
        }
        margin-right: 20px;
    }
    .cls-value {
        width: 30%;
        display: flex;
        float: left;
        input {
            width: 100%;
        }
        margin-right: 4px;
    }
    .dirty {
        input {
            color: red;
        }
    }
}